.box {
    width: 700px;
    height: 300px;
    border: 3px dotted red;
    /* background-color: lightgreen; */
    /* background-image: url('../img/fundo-css-escuro.png'); */

    /* 
    repeat -> é repetida horizontal e vertical
    repeat-x -> é repetida na horizontal
    repeat-y -> é repetida na vertical
    no-repeat -> imagem é exibida apenas uma vez
    */
    /* background-repeat: no-repeat; */

    /* 
    fixed -> a imagem de fundo permanece na mesma posição na página
    scrool -> a imagem de fundo move-se com  o conteúdo quando o usuário rola a página
    */
    /* background-attachment: scroll; */

    /* 
    Quando a imagem não é repetida, você pode posicionar a imagem
    horizontal: left, center, right
    vertical: top, center, bottom
    * Necessário escolher dois valores, senão será utilizado center
    como segundo valor
    */
    /* background-position: center center; */

    /* 
    Todas as propriedades resumidas
    ordem: cor, imagem, repeat, attachment, position
    */
    /* background: lightgreen url('../img/fundo-css-escuro.png') no-repeat scroll center; */

    background: 
        url(../img/fundo-css-claro.png) no-repeat right bottom,
        url(../img/fundo-css-escuro.png) no-repeat left top;
}