a {
    color: darkgreen;
}

p {
    color: orange;
}

li {
    background-color: lightblue;
    border: 1px solid blue;
}

table {
    border: 5px solid darkred;
    background-color: orange;
}

td {
    border: 5px solid black;
}